
#logo{ 
  position:relative; 
  bottom:70px;
  width:220px;
}

nav ul { 
  padding:0%;
  margin:0%;
  display: flex; 
  align-items: right; 
}
nav li{ 
  display: inline-block; 
  font-family: 'Forum', cursive;
  align-items: right; 
}

nav a{ color:white;
  text-decoration: none;
  display: block;
  padding: 15px;
  position:relative;
  bottom:220px;
  left: 340px;
font-size: 19px;

}

ul li{ 
  margin-right: 40px;
}

div i{ width:30px; 
  position: relative; 
  left:1120px;
 top:40px;}

 /* search bar*/
 #input1{ 

  position: absolute;
  top: 60.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  border: 1px groove #0000;
  width:315px;
  height:42px;
  border-radius: 5px 5px 5px 5px;


}

#chef{ 
  position:absolute;
  bottom:39%;
left:35%;
}

#search{ 
  color:#ffffff;
  position: absolute;
  top: 58%;
  left: 58%;

  display: inline-block;
  background-color: #7a0404;
  padding: 9px;
  border-radius: 50%;
}
body{ background-color:rgb(20, 20, 20);
    color: white;
    font-family: 'Cormorant Upright', serif; 
    box-sizing:border-box;
transition:all 0.5s cubic-bezier(.43,1.1,.62,1.08);
text-transform: capitalize;
zoom:1.07;
}



#recette-container {
    position:relative; 

    top:200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
    grid-gap: 8px;
    
    
  }
  
  .recette {
width:250px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin:1rem auto;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 .5rem #333;
    border-radius: 50px;
    padding:1rem;
    background-color: rgba(66, 63, 63, 0.299);
  
  }
  
  .recette-image {
    width: 200px;
    height:220px;
    filter: blur(0.8px);
   filter:drop-shadow(5px 5px 7px black);
   opacity:90%; 
   object-fit: cover;
   border-radius: 50px;
   zoom:1.2;
  

  
  }
  
  .recette-titre {
    text-align: center;
    font-size: 30px;
    margin: 10px 0; 
  }
  
  .recette-categorie,
  .recette-duree,
  .recette-origine,
  .recette-note {
    display: grid;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:1rem auto;
 display:flex;
    margin: 6px 0;
    font-size:18px;
  }

    /*boutton*/
    button{
      background-color: #7a0404;
      color: white;
      border: none;
      padding: 12px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 50px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
    
   
    
    button:hover {
      background-color: #b00808; 
    }
  
  #nobg{ 
    position:relative;
    bottom:2180px;
    border-radius: 50%;}


    .recette:hover{ 
      transform: scale(1.2);
    }

    #fruit{ 
      position: relative;
      top:150px;
      left:360px;
    }



    /* footer*/
footer {
  max-height: 130px;
  font-family: 'Cormorant Upright', serif; 
  background-color:#7a0404;
  position:relative; 
  top:1000px;
  filter:opacity(60%);
  color: #fff;
  padding: 50px 0;
 
}

.footer-container {

  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-section {
  flex-basis: 30%;
}

.footer-section h2 { font-size: 24px;
  margin-bottom: 20px;
  position:relative; 
 
}

.footer-section p {
  
  margin-bottom: 15px;
  position:relative; 
 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  color: #fff;
}



.bottom-bar {
  position:relative;
  top:1000px;

  text-align: center;
  padding: 10px 0;
}

.bottom-bar p {
  margin: 0;
  color: #fff;
 
}

  /* positionement des  recttes aleatoire */ 

#recettes-container{ 
font-size: larger;
}


#hehe { 
  position:relative; 
  top:800px;
right:200px;
filter: blur(0.8px);
   filter:drop-shadow(5px 5px 7px black);
}